$orange:#FDC32C;
$blue:#1874B9;
$green:#8DC043;
$gray_one:#707070;
$gray_two:#E6E6E6;
$gray_three:#A2A2A2;
.retrive_book{
    width: 35%;
    background: #FFF;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 20px;
    border: 30px solid transparent;
    -webkit-border-image: url('../../assets/img/frame\ flights\ \(blue\).svg') 30 stretch;
    -o-border-image: url('../../assets/img/frame\ flights\ \(blue\).svg') 30 stretch; 
    border-image:url('../../assets/img/frame\ flights\ \(blue\).svg') 30 stretch;


    .title_circle{
        width: 160px;
        border-radius: 50%;
        height: 160px;
        background: url('../../assets/img/Group\ 2367\(frameblue\).svg');
        background-size: contain;
        background-position: center center;
        background-repeat:no-repeat; 
        text-align: center;
        margin: auto;
        font-size: 1.4rem;
        margin-top: -18%;
        color: $blue;
        margin-bottom: 30px;
        span{
            display: block;
            padding-top: 30%;
        }

    }
    .form-group{
        .font{
            img{
                width: 25px;
                height: 50px;
            }
        }
        .form-control{
            height: 50px;
            margin-bottom: 5px;
        }
        .form-text{
            color: $blue;
            font-weight: bold;
            i{margin-right: 5px;}
        }
    }
    .actions{
        min-height: 40px;
        margin-bottom: 30px;
        margin-top: 40px;
        .btn{
            background: $blue;
            color: #FFF;
            padding: 10px;
            font-size: 1.2rem;
            
            width: 120px;

        }
    }
  
}