<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="touch">Get In Touch</p>
                <ul class="list-unstyled footer_info">
                    <li>
                        <span class="font-footer">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>

                        </span>
                        <p>1258 El-Nasr Road Building No 2, Sheraton Al Matar Qism El-Nozha, Cairo - Egypt</p>
                    </li>
                    <li>
                        <span class="font-footer">
                            <i class="fa fa-phone" aria-hidden="true"></i>

                        </span>
                        <p>002 01113089838</p>
                    </li>
                    <li>
                        <span class="font-footer"><i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                        <p>info@travware.info</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="social">
                    <img src="../../assets/img/logo travwarewhite-01.png" />
                    <div class="links">
                        <p>
                            <span><i class="fa fa-facebook"></i></span>
                            <span><i class="fa fa-linkedin"></i></span>
                            <span><i class="fa fa-twitter"></i></span>
                            <span><i class="fa fa-google"></i></span>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="subscribe">
                    <ul class="list-unstyled">
                        <li><h5>Subscribe</h5></li>
                        <li><input class="form-control" type="text"/></li>
                        <li>
                            <button class="btn btn-default">Submit</button>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>

    </div>
    <p class="text-center Copyright">Copyright 2019@Journey</p>
</footer>