<section class="consolidator">
    <div class="container-fluid">
        
        <div class="row">
            <div class="slider">
                <carousel [showIndicators]="false" [pauseOnFocus]="true">
                    <slide>
                            
                                    <h2 class="welcome">
                                        <p>Welcome</p>
                                         <p>Abo Samra travel</p>
                                    </h2>
                                    
                                
                        <img src="../../assets/img/slider1.svg" alt="first slide" style="display: block; width: 100%; height: 100vh">
                    </slide>
                    <slide>
                            <div class="slide">
                                    <h2>
                                        Abo Samra
                                    </h2>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                         Debitis dolorum reiciendis quibusdam illum sunt cum blanditiis excepturi,
                                         labore, dicta magnam officiis eaque. Voluptatum vel commodi, explicabo earum sit unde enim.</p>
                                </div>
                        <img src="../../assets/img/slider2.svg" alt="second slide" style="display: block; width: 100%;  height: 100vh">
                    </slide>
                    
                        

                </carousel>
            </div>

            <div class="form_login">
                <div class="login-consolid">
                    <span class="login_icon">
                        <img src="../../assets/img/login-consolid.svg" />
                    </span>
                    <form>
                        <div class="form-group">
                            <input text="text" class="form-control" placeholder="USERNAME" />
                            <img src="../../assets/img/login.svg"/>
                        </div>
                        <div class="form-group">
                            <input text="password" class="form-control" placeholder="PASSWORD" />
                            <img src="../../assets/img/lock.svg"/>
                        </div>
                        <div class="login-button">
                            <a class="btn">LOGIN</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>