<section class="home_content">
    <div class="overlay">
            <div class="container">
                    <h3 class="section_title">Best Cities</h3>
                    <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                    <figure class="snip1577">
                                            <img src="../../assets/img/pic 1.jpg" alt="sample99" />
                                            <figcaption>
                                                    <h3>Paris</h3>
                                                    <button class="btn">More Details</button>
                                            </figcaption>
                                            <a href="#"></a>
                                    </figure>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                    <figure class="snip1577">
                                            <img src="../../assets/img/pic 2.jpg" alt="sample99" />
                                            <figcaption>
                                                    <h3>Paris</h3>
                                                    <button class="btn">More Details</button>
                                            </figcaption>
                                            <a href="#"></a>
                                    </figure>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                    <figure class="snip1577">
                                            <img src="../../assets/img/pic 3.jpg" alt="sample99" />
                                            <figcaption>
                                                    <h3>Paris</h3>
                                                    <button class="btn">More Details</button>
                                            </figcaption>
                                            <a href="#"></a>
                                    </figure>
                            </div>
                            <div class="col-12">
                                    <button class="show_more">Show More</button>
                            </div>
                    </div>
            </div>
    </div>
    <div class="overlay best_hotels">
            <div class="container">
                    <h3 class="section_title">Best Hotels</h3>
                    <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                    <div class="row">
                                            <div class="col-sm-6 col-12">
                                                    <div class="hotel_snip_small">
                                                            <figure class="snip1577">
                                                                    <img src="../../assets/img/pic 4.jpg" alt="sample99" />
                                                                    <figcaption>
                                                                            <h3>Paris</h3>
                                                                            <button class="btn">More Details</button>
                                                                    </figcaption>
                                                                    <a href="#"></a>
                                                            </figure>
                                                            <ul>
                                                                            <li>Millennium Plaza Hotel</li>
                                                                            <li>
                                                                                    <i class="fa fa-star"></i>
                                                                                    <i class="fa fa-star"></i>
                                                                                    <i class="fa fa-star"></i>
                                                                                    <i class="fa fa-star"></i>
                                                                                    <i class="fa fa-star"></i>
                                                                            </li>
                                                                            <li>Dubai</li>
                                                                    </ul>
                                                    </div>

                                            </div>
                                            <div class="col-sm-6 col-12">
                                                            <div class="hotel_snip_small">
                                                                            <figure class="snip1577">
                                                                                            <img src="../../assets/img/pic 5.jpg" alt="sample99" />
                                                                                            <figcaption>
                                                                                                    <h3>Paris</h3>
                                                                                                    <button class="btn">More Details</button>
                                                                                            </figcaption>
                                                                                            <a href="#"></a>
                                                                                    </figure>
                                                                                    <ul>
                                                                                                    <li>Millennium Plaza Hotel</li>
                                                                                                    <li>
                                                                                                            <i class="fa fa-star"></i>
                                                                                                            <i class="fa fa-star"></i>
                                                                                                            <i class="fa fa-star"></i>
                                                                                                            <i class="fa fa-star"></i>
                                                                                                            <i class="fa fa-star"></i>
                                                                                                    </li>
                                                                                                    <li>Dubai</li>
                                                                                            </ul>
                                                            </div>
                                                    
                                            </div>
                                            <div class="col-12">
                                                            <div class="hotel_snip_small">
                                                                            <figure class="snip1577">
                                                                                            <img src="../../assets/img/pic 6.jpg" alt="sample99" />
                                                                                            <figcaption>
                                                                                                    <h3>Paris</h3>
                                                                                                    <button class="btn">More Details</button>
                                                                                            </figcaption>
                                                                                            <a href="#"></a>
                                                                                    </figure>
                                                                                    <ul>
                                                                                                    <li>Millennium Plaza Hotel</li>
                                                                                                    <li>
                                                                                                            <i class="fa fa-star"></i>
                                                                                                            <i class="fa fa-star"></i>
                                                                                                            <i class="fa fa-star"></i>
                                                                                                            <i class="fa fa-star"></i>
                                                                                                            <i class="fa fa-star"></i>
                                                                                                    </li>
                                                                                                    <li>Dubai</li>
                                                                                            </ul>
                                                            </div>
                                                  
                                            </div>
                                    </div>

                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="hotel_snip_lg">
                                                            <figure class="snip1577">
                                                                            <img src="../../assets/img/pic 7.jpg" alt="sample99" />
                                                                            <figcaption>
                                                                                    <h3>Paris</h3>
                                                                                    <button class="btn">More Details</button>
                                                                            </figcaption>
                                                                            <a href="#"></a>
                                                                    </figure>
                                                            <ul>
                                                                    <li>Millennium Plaza Hotel</li>
                                                                    <li>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                    </li>
                                                                    <li>Dubai</li>
                                                            </ul>
                                            </div>
                                   
                            </div>
                            <div class="col-12">
                                    <button class="show_more">Show More</button>
                            </div>
                    </div>

            </div>
    </div>

</section>