<section class="booking_info">
    <div class="container">
        <tabset type="pills">
            <tab heading="Booking">
                <div class="booking_details">
                    <ul class="list-unstyled key">
                        <li>Booking Code:</li>
                        <li>Booking ference Number:</li>
                        <li>Booking Type:</li>
                        <li>Booking Service Price Amount</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>102-12457874</li>
                        <li>TW-14</li>
                        <li>Confirmed</li>
                        <li>233.98</li>
                    </ul>
                </div>



            </tab>
            <tab heading="Hotel">

                <div class="hotel_details">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <ul class="list-unstyled key">
                                <li>Hotel Location:</li>
                                <li>Hotel Name:</li>
                                <li>Hotel Category:</li>
                                <li>Hotel Zone Name:</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>Barcelone</li>
                                <li>Catalonia Rome</li>
                                <li><span class="stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span></li>
                                <li>Sants-Montjuic</li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-12">
                            <ul class="list-unstyled key">
                                <li>Number Of Nights:</li>
                                <li>Booking Hilder:</li>
                                <li>From Short</li>
                                <li>To Short</li>
                            </ul>
                            <ul class="list-unstyled">
                                <li>1</li>
                                <li>mahmoud mahmoud</li>
                                <li>1/1/2020</li>
                                <li>1/1/2020</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </tab>
        </tabset>

    </div>

</section>
<section class="room_info">
    
        <h3 class="title">Room 1</h3>
        <p>Room Name: <span>Double or twin standard</span></p>
    
    <div class="container">

        <div class="adult">
            
            <ul class="list-unstyled row">
                    <li class="col-2">Adult</li>
                <li class="col-4">Name: <span>Mahmoud</span></li>
                <li class="col-4">Surname: <span>Al-Tantawy</span></li>
            </ul>
        </div>
        <div class="adult">
            
            <ul class="list-unstyled row">
                <li class="col-2">Adult</li>
                <li class="col-4">Name: <span>Mahmoud</span></li>
                <li class="col-4">Surname: <span>Al-Tantawy</span></li>
                <li class="col-2">Age: <span>2</span></li>
            </ul>
        </div>
        <a tooltip="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, nobis animi? Accusamus, repellendus! Adipisci aut aliquid reiciendis saepe distinctio sapiente mollitia atque obcaecati error quae, provident iure a officiis quaerat.
        " [delay]="500" placement="bottom">
            <img src="../../../assets/img/cancel.svg" />
            Cancellation Policies
        </a>
    </div>

</section>