<div class="content shadow">
    <section class="profile">
        <img src="../../../assets/img/air-transport.svg" class="plane" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-12">
                    <div class="profile-info">
                        <span class="profile_img">
                            <img src="../../../assets/img/team2.jpg" />
                        </span>

                        <h4>
                            Mahmoud El-tantawy
                            <span>mahmoud.altantawy@gmail.com</span>
                        </h4>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-12">
                    <div class="interaction">
                        <div class="box shadow">
                            <span>1234</span>
                            <h3>Followers</h3>
                        </div>
                        <div class="box shadow">
                            <span>1234</span>
                            <h3>Following</h3>
                        </div>
                        <div class="box shadow">
                            <span>1234</span>
                            <h3>Firends</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <img src="../../../assets/img/Group 1227.svg" class="mountain" />
        <h2 class="title">About Me</h2>
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-12">
                    <div class="skill">
                        <h4>
                            <img src="../../../assets/img/eduaction.svg" />
                            Education
                        </h4>
                        <p>
                            B.S in Computer Science From the university go Tennessee at knoxville
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="skill float-right ">
                        <h4>
                            <img src="../../../assets/img/eduaction.svg" />
                            Note
                        </h4>
                        <p>
                            B.S in Computer Science From the university go Tennessee at knoxville
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="skill no-border">
                        <h4>
                            <img src="../../../assets/img/writing.svg" />
                            location
                        </h4>
                        <p>
                            B.S in Computer Science From the university go Tennessee at knoxville
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-12">
                    <div class="skill float-right no-border">
                        <h4>
                            <img src="../../../assets/img/skills.svg" />
                            Skills
                        </h4>
                        <p>
                            UI Design , Coding , Jacascript , Php , NodeJS
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="update_password" style="margin-top:3rem">
        <img src="../../../assets/img/Group 235.svg" class="plane"/>
        <div class="container">
            <form>
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control"  placeholder="Current Password">
                </div>
                <div class="form-group">
                    <label > New Password</label>
                    <input type="password" class="form-control"  placeholder="New Password">
                </div>
                <div class="form-group">
                    <label >Verify New Password</label>
                    <input type="password" class="form-control"  placeholder="Verify New Password">
                </div>
                <div class="buttons">
                        <button type="submit" class="btn btn-primary">Update</button>
                </div>
                
            </form>
        </div>
    </section>
    <section class="update_password update_profile">
            <img src="../../../assets/img/Group 235.svg" class="plane"/>
            <div class="container">
                <form>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control"  placeholder="Mahmoud">
                    </div>
                    <div class="form-group">
                            <label>last Name</label>
                            <input type="text" class="form-control"  placeholder="Tantawy">
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 col-sm-5 col-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control custom-select">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-7 col-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control mail"  placeholder="mahmoud.altantawy@gmail.com">

                                </div>
                        </div>
                    </div>
                    <div class="buttons">
                            <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    
                </form>
            </div>
    </section>

</div>