<div class="flight_form">
 
    <div class="flight_fields">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="form-group row">
                    <div class="col-sm-4 origin">
                        <span class="font">
                            <img src="../../assets/img/departures.svg" />
                        </span>
                        <input class="form-control" type="text" placeholder="Origin" />
                        <span class="swap">
                            <img src="../../assets/img/left-arrow-key-01.svg" />
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="font">
                            <img src="../../assets/img/departures-01.svg" />
                        </span>
                        <input class="form-control" type="text" placeholder="Destination" />
                    </div>
                    <div class="col-sm-4 dep_ret">
                        <input class="form-control" type="text" style="flex:1; margin-right:4px;"
                            placeholder="Departing" />
                        <input class="form-control" type="text" style="flex:1; margin-left:4px;"
                            placeholder="Returning" />
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group row">
                    <div class="col-lg-8 col-sm-4">
                        <div class="btn-group" dropdown [insideClick]="true" style="width:100%">
                            <span class="font" style="left:10px;">
                                <img src="../../assets/img/family.svg" />
                            </span>
                            <input id="button-basic" dropdownToggle type="button" class="form-control travellers dropdown-toggle"
                                aria-controls="dropdown-basic" type="text" placeholder="Travellers & Class" />

                            <span class="caret"></span>

                            <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                aria-labelledby="button-basic">
                                <ul class="list-unstyled list-group">

                                    <li>
                                        <div class="form-group">
                                            <label>Preferred Airlines</label>
                                            <input type="text" class="form-control" placeholder="Preferred Airlines">

                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label>Select Refundable</label>
                                            <select class="form-control" placeholder="Preferred Airlines">
                                                <option>All Rights</option>
                                                <option>Only Refundable</option>
                                                <option>Only Non Refundable</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label>Class</label>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                    id="exampleRadios1" value="option1" checked>
                                                <label class="form-check-label" for="exampleRadios1">
                                                    Economy
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                    id="exampleRadios2" value="option2">
                                                <label class="form-check-label" for="exampleRadios2">
                                                    First
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                    id="exampleRadios3" value="option3">
                                                <label class="form-check-label" for="exampleRadios3">
                                                    Business
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="travellers_info">
                                        <h4>Travellers</h4>
                                        <div class="age">
                                            <p><img src="../../assets/img/man-user.svg"/>Adult <span>(12+Yrs)</span></p>
                                            <div class="calc">
                                                <button class="decrease">-</button>
                                                <input class="adult_val"/>
                                                <button class="increase">+</button>
                                            </div>
                                        </div>
                                        <div class="age">
                                                <p><img src="../../assets/img/kids-couple.svg"/>Children <span>(12+Yrs)</span></p>
                                                <div class="calc">
                                                        <button class="decrease">-</button>
                                                        <input class="adult_val"/>
                                                        <button class="increase">+</button>
                                                </div>
                                        </div>
                                        <div class="age">
                                                <p><img src="../../assets/img/baby-boy.svg"/>Infant <span>(Under 2Yrs)</span></p>
                                                <div class="calc">
                                                        <button class="decrease">-</button>
                                                        <input class="adult_val"/>
                                                        <button class="increase">+</button>
                                                </div>
                                        </div>
                                        <div class="children">
                                            <div class="form-inline">
                                                
                                                    <label>Child:1</label>
                                                    <select class="form-control">
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        
                                                    </select>
                                                </div>
                                                <div class="form-inline">
                                                
                                                        <label>Child:1</label>
                                                        <select class="form-control">
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            
                                                        </select>
                                                    </div>
                                                    <div class="form-inline">
                                                
                                                            <label>Child:1</label>
                                                            <select class="form-control">
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                
                                                            </select>
                                                        </div>
                                                        <div class="form-inline">
                                                
                                                                <label>Child:1</label>
                                                                <select class="form-control">
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    
                                                                </select>
                                                            </div>
                                                            <div class="form-inline">
                                                
                                                                    <label>Child:1</label>
                                                                    <select class="form-control">
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>
                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        
                                                                    </select>
                                                                </div>
                                                                <div class="form-inline">
                                                
                                                                        <label>Child:1</label>
                                                                        <select class="form-control">
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option>
                                                                            <option value="5">5</option>
                                                                            <option value="6">6</option>
                                                                            <option value="7">7</option>
                                                                            <option value="8">8</option>
                                                                            <option value="9">9</option>
                                                                            
                                                                        </select>
                                                                    </div>
                                            
                                        </div>

                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label>Customer Number</label>
                                            <input type="text" class="form-control" placeholder="Preferred Airlines">

                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label>Select Fare Type</label>
                                            <select class="form-control" placeholder="Preferred Airlines">
                                                <option>Published Fare</option>
                                                <option>Only Refundable</option>
                                                <option>Only Non Refundable</option>
                                            </select>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-sm-4">
                        <button class="btn btn-success" routerLink="/results">Search</button>
                    </div>



                </div>
            </div>
        </div>
        <div>
            <mat-checkbox>None Stop Flight!</mat-checkbox>
            <mat-checkbox>Flexiable Dates +/- 3 Days</mat-checkbox>

        </div>
    </div>

</div>
