
<section class="traveller-data">
<div class="container">
    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom"></p-steps>
    <div class="row">
        <div class="col-9">
            <div class="travel-details">
                <h2>

                </h2>
                <div class="total_price">
                    <p>Total Price</p>
                    <p>EGP 1640</p>
                </div>
                <div class="break_down">
                    <p>Fare Break Down</p>
                    <ul class="list-unstyled list-group">
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
                <div class="brand">
                    <p>Brand</p>
                    <p>Standard Economy <i class="fa fa-envelope"></i></p>
                </div>
                <div class="brand">
                    <p><i class="fa fa-envelope"></i></p>
                    <p>30 Kilograms Hand Luggage</p>
                </div>
                <button>Select</button>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
</section>
