<section class="flight-details">
    <span class="float-left mountain">
        <img src="../../assets/img/mountain.svg" />
    </span>
    <span class="float-right mountain">
        <img src="../../assets/img/Group 1227.svg" />
    </span>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <ul class="list-unstyled choose_form">

                    <li>
                        <span>Flight</span>
                        <span>Details</span>
                    </li>
                    <li>
                        <span>Flight</span>
                        <span>Rules</span>
                    </li>

                </ul>
            </div>
        </div>
        <div class="flight_info">
            <p>Total Price:<span>EGP 2631</span></p>
            <p>
                <img src="../../assets/img/air-transport.svg" />
                For 7 Travellers</p>
        </div>
        <ul class="list-group list-group-horizontal prices">
            <li class="list-group-item">Price</li>
            <li class="list-group-item">Adult x3 = EGP 2631</li>
            <li class="list-group-item">Child x3 = EGP 2631</li>
            <li class="list-group-item">Infant x3 = EGP 2631</li>
        </ul>
        <div class="from-to">
            <span class="surface"><img src="../../assets/img/surface1.svg" /></span>


            <p><span class="departure">Cairo-Jeddah</span> <span class="marked">FROM</span> Cairo International Airport
                <span class="marked">TO</span>Queen Ali Airport</p>



        </div>
        <div class="flight_info_det">
            <div class="airline">
                <img src="../../assets/img/airline/MS-1.png" />
                <h6>Egypt Air</h6>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="../../assets/img/locaitiongray.svg" />
                    <p>Cairo-Jeddah 3h 10m</p>
                </li>
                <li class="list-group-item">
                    <img src="../../assets/img/calendar.svg" />
                    <p>Tuesday 08 Oct At 21.20</p>
                </li>
                <li class="list-group-item">
                    <img src="../../assets/img/travel.svg" />
                    <p>30 Kilograms Hand Luggage , XY-566,Economy</p>
                </li>
            </ul>

        </div>
        <button class="btn" routerLink="/traveller-data">Continue</button>
    </div>
</section>
<!-- from_to_round -->
<section class="flight-details">
        <span class="float-left mountain">
            <img src="../../assets/img/mountain.svg" />
        </span>
        <span class="float-right mountain">
            <img src="../../assets/img/Group 1227.svg" />
        </span>
        <div class="container">
            <div class="row">
                <div class="col-12">
    
                    <ul class="list-unstyled choose_form">
    
                        <li>
                            <span>Flight</span>
                            <span>Details</span>
                        </li>
                        <li>
                            <span>Flight</span>
                            <span>Rules</span>
                        </li>
    
                    </ul>
                </div>
            </div>
            <div class="flight_info">
                <p>Total Price:<span>EGP 2631</span></p>
                <p>
                    <img src="../../assets/img/air-transport.svg" />
                    For 7 Travellers</p>
            </div>
            <ul class="list-group list-group-horizontal prices">
                <li class="list-group-item">Price</li>
                <li class="list-group-item">Adult x3 = EGP 2631</li>
                <li class="list-group-item">Child x3 = EGP 2631</li>
                <li class="list-group-item">Infant x3 = EGP 2631</li>
            </ul>
            <div class="from-to">
                <span class="surface"><img src="../../assets/img/surface1.svg" /></span>
    
    
                <p><span class="departure">Cairo-Jeddah</span> <span class="marked">FROM</span> Cairo International Airport
                    <span class="marked">TO</span>Queen Ali Airport</p>
    
    
    
            </div>
            <div class="flight_info_det">
                <div class="airline">
                    <img src="../../assets/img/airline/MS-1.png" />
                    <h6>Egypt Air</h6>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <img src="../../assets/img/locaitiongray.svg" />
                        <p>Cairo-Jeddah 3h 10m</p>
                    </li>
                    <li class="list-group-item">
                        <img src="../../assets/img/calendar.svg" />
                        <p>Tuesday 08 Oct At 21.20</p>
                    </li>
                    <li class="list-group-item">
                        <img src="../../assets/img/travel.svg" />
                        <p>30 Kilograms Hand Luggage , XY-566,Economy</p>
                    </li>
                </ul>
    
            </div>
            <div class="from-to">
                    <span class="surface"><img src="../../assets/img/surface1.svg" /></span>
        
        
                    <p><span class="departure">Cairo-Jeddah</span> <span class="marked">FROM</span> Cairo International Airport
                        <span class="marked">TO</span>Queen Ali Airport</p>
        
        
        
                </div>
                <div class="flight_info_det">
                    <div class="airline">
                        <img src="../../assets/img/airline/MS-1.png" />
                        <h6>Egypt Air</h6>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <img src="../../assets/img/locaitiongray.svg" />
                            <p>Cairo-Jeddah 3h 10m</p>
                        </li>
                        <li class="list-group-item">
                            <img src="../../assets/img/calendar.svg" />
                            <p>Tuesday 08 Oct At 21.20</p>
                        </li>
                        <li class="list-group-item">
                            <img src="../../assets/img/travel.svg" />
                            <p>30 Kilograms Hand Luggage , XY-566,Economy</p>
                        </li>
                    </ul>
        
                </div>
            <button class="btn">Continue</button>
        </div>
    </section>
<!-- section rules -->
<section class="flight-details">
    <span class="float-left mountain">
        <img src="../../assets/img/mountain.svg" />
    </span>
    <span class="float-right mountain">
        <img src="../../assets/img/Group 1227.svg" />
    </span>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <ul class="list-unstyled choose_form">

                    <li>
                        <span>Flight</span>
                        <span>Details</span>
                    </li>
                    <li>
                        <span>Flight</span>
                        <span>Rules</span>
                    </li>

                </ul>

            </div>
        </div>
        <p class="rules text-justify">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ea debitis voluptates nobis aut beatae quia
            perspiciatis,
            nesciunt consectetur, reiciendis sint cum fugit odio libero, temporibus deleniti dolorem earum fuga.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eligendi repellendus, omnis modi nisi
            molestias dolores cum sequi quo ex eos quia minus nesciunt alias sint est accusantium. Quibusdam, illum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore cupiditate ea, sunt soluta perferendis
            a, error consectetur porro architecto repellendus quibusdam eos minima earum culpa obcaecati eum
            reprehenderit voluptatem saepe.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet autem veritatis incidunt cumque quia ratione
            culpa dolores, quisquam ut magnam, veniam illo fuga saepe aperiam numquam ea. Suscipit, fugit adipisci!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo iusto perspiciatis quam dicta aperiam
            provident officia earum quo, excepturi, sit minima? A dolor enim dignissimos quia animi possimus veniam
            explicabo!
        </p>
        <button class="btn">Continue</button>
    </div>
</section>

<!-- section multi -->
<section class="flight-details">
    <span class="float-left mountain">
        <img src="../../assets/img/mountain.svg" />
    </span>
    <span class="float-right mountain">
        <img src="../../assets/img/Group 1227.svg" />
    </span>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <ul class="list-unstyled choose_form">

                    <li>
                        <span>Flight</span>
                        <span>Details</span>
                    </li>
                    <li>
                        <span>Flight</span>
                        <span>Rules</span>
                    </li>

                </ul>
            </div>
        </div>
        <div class="flight_info_multi row">
            <p class="col-4">Total Price:<span>EGP 2631</span></p>
            <p class="col-4">Service Fee:<span>EGP 2631</span></p>
            <p class="col-4">
                <img src="../../assets/img/air-transport.svg" />
                For <span>7 Travellers</span> </p>
            <p class="col-4">Total Taxes:<span>EGP 2631</span></p>
            <p class="col-4">Discount:<span>EGP 2631</span></p>
        </div>
        <ul class="list-group list-group-horizontal prices">
            <li class="list-group-item">Price</li>
            <li class="list-group-item">Adult x3 = EGP 2631</li>
            <li class="list-group-item">Child x3 = EGP 2631</li>
            <li class="list-group-item">Infant x3 = EGP 2631</li>
        </ul>
        <div class="from-to">
            <span class="surface"><img src="../../assets/img/surface1.svg" /></span>


            <p><span class="departure">Cairo-Jeddah</span> <span class="marked">FROM</span> Cairo International Airport
                <span class="marked">TO</span>Queen Ali Airport</p>



        </div>
        <div class="flight_info_det">
            <div class="airline">
                <img src="../../assets/img/airline/MS-1.png" />
                <h6>Egypt Air</h6>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <img src="../../assets/img/locaitiongray.svg" />
                    <p>Cairo-Jeddah 3h 10m</p>
                </li>
                <li class="list-group-item">
                    <img src="../../assets/img/calendar.svg" />
                    <p>Tuesday 08 Oct At 21.20</p>
                </li>
                <li class="list-group-item">
                    <img src="../../assets/img/travel.svg" />
                    <p>30 Kilograms Hand Luggage , XY-566,Economy</p>
                </li>
            </ul>

        </div>
        <button class="btn">Continue</button>
    </div>
</section>
<h1 (click)="lol('content')">ContentComponent</h1>
<div class="alert alert-danger"></div>