<div class="filter_slice">
        <h4 class="filter_head rounded-circle">Prices</h4>
    </div>
    <div class="filter_slice">
        <h4 class="filter_head rounded-circle">Stops</h4>
        <mat-checkbox>Direct</mat-checkbox>
        <mat-checkbox>1 Stop</mat-checkbox>
        <mat-checkbox>2 Stop</mat-checkbox>
        <mat-checkbox>+2 Stop</mat-checkbox>
    </div>
    <div class="filter_slice">
        <h4 class="filter_head rounded-circle">Onward Timings</h4>
    </div>
    <div class="filter_slice">
        <h4 class="filter_head rounded-circle">Airlines</h4>
        <ul class="list-unstyled">
            <li>
                <mat-checkbox>
                    <img src="../../assets/img/airline/EK.png" />
                    Golf Air
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox>
                    <img src="../../assets/img/airline/EK.png" />
                    Golf Air
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox>
                    <img src="../../assets/img/airline/EK.png" />
                    Golf Air
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox>
                    <img src="../../assets/img/airline/EK.png" />
                    Golf Air
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox>
                    <img src="../../assets/img/airline/EK.png" />
                    Golf Air
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox>
                    <img src="../../assets/img/airline/EK.png" />
                    Golf Air
                </mat-checkbox>
            </li>
            <li>
                    <mat-checkbox>
                        <img src="../../assets/img/airline/EK.png" />
                        Golf Air
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox>
                        <img src="../../assets/img/airline/EK.png" />
                        Golf Air
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox>
                        <img src="../../assets/img/airline/EK.png" />
                        Golf Air
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox>
                        <img src="../../assets/img/airline/EK.png" />
                        Golf Air
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox>
                        <img src="../../assets/img/airline/EK.png" />
                        Golf Air
                    </mat-checkbox>
                </li>
                <li>
                    <mat-checkbox>
                        <img src="../../assets/img/airline/EK.png" />
                        Golf Air
                    </mat-checkbox>
                </li>
            <li>
                <mat-checkbox>
                    <img src="../../assets/img/airline/EK.png" />
                    Golf Air
                </mat-checkbox>
            </li>
            <li>
                <mat-checkbox>
                    <img src="../../assets/img/airline/EK.png" />
                    Golf Air
                </mat-checkbox>
            </li>
        </ul>
    </div>