<section class="loginandregisterContainer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled choose_form">
                    <li>
                        Sign Up
                    </li>
                    <li>
                        Sign In
                    </li>
                </ul>
            </div>
            <div class="col-5">
                <div class="love_travel">
                    <img src="../../assets/img/imageSign.svg"/>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-6">
              <app-login></app-login>
            </div>
        </div>
    </div>
</section>
<section class="loginandregisterContainer" style="margin-top:200px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled choose_form">
                    <li>
                        Sign Up
                    </li>
                    <li>
                        Sign In
                    </li>
                </ul>
            </div>
            <div class="col-5">
                <div class="love_travel">
                    <img src="../../assets/img/imageSign.svg"/>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-6">
              <app-register></app-register>
            </div>
        </div>
    </div>
</section>
