<section class="queue">
    <div class="container-fluid">
        <div class="shadow">
                <h3 class="title">Queue List</h3>
                <div class="content">
                        
                        <div class="form-group">
                                <label>Office ID</label>
                                <input type="text" class="form-control mx-sm-3" placeholder="Please Enter The Office ID">
                                <small  class="text-muted">
                                  * The Office ID Must Not Be Empty
                                </small>
                         </div>
                         <div class="buttons">
                             <a class="send">Send</a>
                             <a class="exit">Close</a>
                         </div>
                    </div>
        </div>
       
    </div>
</section>
