<section class="confirmation">
        <span class="float-left mountain">
            <img src="../../assets/img/mountain.svg" />
        </span>
        <span class="float-right mountain">
            <img src="../../assets/img/Group 1227.svg" />
        </span>
        <div class="container">
            <h2>
                <i class="fa fa-check fa-3x"></i>
            </h2>
            <div class="info">
                <h4>Dear Mahmoud El-Tantawy</h4>
                <p>Your payment Transaction is done</p>
                <img src="../../assets/img/surface1.svg" class="plane"/>
            </div>
            <div class="details">
                <ul class="list-unstyled">
                    <li>Your Booking: <span>11980 EGP</span></li>
                    <li>Your Amount: <span>11980 EGP</span></li>
                    <li>Paid Now: <span>11980 EGP</span></li>
                    <li>Total Paid: <span>11980 EGP</span></li>
                    <li>Remaining: <span>11980 EGP</span></li>
    
                </ul>
            </div>
            <div class="get_tickets">
                <button>Booking Details</button>
            </div>
        </div>
    </section>