$orange:#FDC32C;
$blue:#1874B9;
$green:#8DC043;
$gray_one:#707070;
$gray_two:#E6E6E6;
$gray_three:#A2A2A2;
@mixin  background-prop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.payment{
    .mountain{
        img{
            width: 100px;
            height: 100px;
        }
    }
    width: 80%;
    margin: auto;
    border: 30px solid transparent;
    background: #FFF;
   
    -webkit-border-image: url('../../assets/img/Group\ 2367.svg') 30 stretch;
    -o-border-image: url('../../assets/img/Group\ 2367.svg') 30 stretch; 
    border-image:url('../../assets/img/Group\ 2367.svg') 30 stretch;
    .tab-pane{
        color: $blue;
        h4{font-size: 1.3rem;}
        span{color: $gray_one}
        .total_amount{
           margin-bottom: 1rem;
           h4:last-of-type{color: $gray_one}
           
        }
        .reference{
            span{
                
                font-size: 1.1rem;
                margin-inline-start: 5px;
            }
            .start{
                text-align: start;
            }
           .end{
                text-align: end;
            }
        }
        .from_to{
            width: 85%;
            margin: auto;
            margin-top: 4rem;
            .from{
                img{width: 25px; height: 25px;}
                span{
                    img{
                        display: block;
                        margin: auto;
                    }
                }
                p{color: $gray_one}
                .date{display: block}
            }
            .line{
                .br{
                    width: 100%;
                height: 1px;
                background: $blue;
                margin: 5px 0px;
                }
                
            }
        }
        .details{
            margin-top: 2rem;
            h3{
                color: $blue;
            }
            ul li{
                margin-bottom: 1rem;
                font-size: 1.2rem;
            }
        }
        .payment_details{
            position: relative;
            .plane{
                position: absolute;
                left: -1rem;
                bottom: 4rem;
                width: 35px;
                height: 35px;
            }
            .payment_remain{
                
                display: flex;
                border-bottom: 2px dashed $blue;
                padding-bottom: 1rem;
                
             
                p{
                    flex: 1;
                    color: $blue;
                    font-size: 1.4rem;
                    margin: 0px 0.8rem;
                    span{
                        color: $gray_one;
                        font-size: 1.2rem;
                        margin-inline-start: 0.8rem;
                    }
                }
                p:first-child{
                    text-align: end;
                }
                p:last-child{
                    text-align: start
                }
            }
            .pay_cancell{
                display: flex;
                .row{
                    margin: auto;
                    margin-top: 1rem;
                    button{
                       
                     
                        height: 50px;
                        width: 150px;
                        color: #FFF;
                        border: none;
                    }
                    button.pay_now{
                        background: url('../../assets/img/Group\ 527.svg');
                        @include background-prop();
                        background-size: contain;
                    }
                    button.cancell_now{
                        background: url('../../assets/img/Group\ 378.svg');
                        @include background-prop();
                        background-size: contain;
                    }
                }
               
            }
         
        }
        .card_types{
            margin-top: 2rem;
            text-align: center;
            margin-bottom: 2rem;
            img{
                width: 50%;
                height: 50px;
            }
        }
        .pay_by_credit{
            margin-top: 1rem;
            h4{
                color: $blue;
                font-size: 1.4rem;
                padding-bottom:1rem;
                border-bottom: 2px dashed $gray_three; 
            }
            p{
                margin-top: 1rem;
                padding-bottom:1rem;
                border-bottom: 2px dashed $gray_three; 
                color: $gray_one;
                font-size: 1.2rem;
                span{
                    background: #f6465e;
                    border-radius: 50%;
                    width: 1.5rem;
                    height: 1.5rem;
                    display: inline-block;
                    padding: 2px;
                    color: #FFF;
                    text-align: center;
                    margin-inline-end: 5px;
                }
            }
            .form-group {
                margin-bottom: 2rem;
                margin-top: 1rem;
                label{
                    color: $gray_one;
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
            .confirm_booking{
               clear: both;
               min-height: 50px;
                button{
                    background: url('../../assets/img/button.svg');
                    @include background-prop();
                    height: 50px;
                    width: 150px;
                    display: inline-block;
                    float: right;
                    border: none;
                    color: #FFF;

                }
            }
           
        }
        .payment_methods{
            .inside_tab{
                label{  
                    color: $gray_one;
                    text-align: center;
                }
                .select_pay_type{
                   text-align: center;
                    img{
                        width: 50px;
                        height: 50px;
                        margin: 5px;
                        cursor: pointer;
                        margin-inline-end: 1rem;
                    }
                }
                .cash_value{
                    label{
                        color: $gray_one;
                        img{
                            display: inline-block;
                            margin-inline-end: 5px;
                            width: 45px;
                            height: 35px;
                        }
                    }
                }
                .confirm_booking{
                    text-align: center;
                    button{
                        background: url('../../assets/img/Group\ 378.svg');
                        @include background-prop();
                        border: none;
                        height: 50px;
                        width: 200px;
                        color: #FFF;
                        margin-bottom: 1rem;

                    }
                    
                }
            }
            margin-top: 1rem;
            h4{
                color: $blue;
                font-size: 2rem;
                padding-bottom:1rem;
                border-bottom: 2px dashed $gray_three; 
            }
            p{
                margin-top: 1rem;
                padding-bottom:1rem;
                border-bottom: 2px dashed $gray_three; 
                color: $gray_one;
                font-size: 1.2rem;
                span{
                    background: #f6465e;
                    border-radius: 50%;
                    width: 1.5rem;
                    height: 1.5rem;
                    display: inline-block;
                    padding: 2px;
                    color: #FFF;
                    text-align: center;
                    margin-inline-end: 5px;
                }
            }
            .choose{
                color: $gray_one;
                margin-bottom: 2rem;
                h6{
                    font-size: 1.3rem;
                    margin-bottom: 0.8rem;
                    margin-top: 0.5rem;
                }
                .form-check{
                    margin-inline-start: 2rem;
                    margin-bottom: 1rem;
                    input{

                    }
                }
            }
        }
        
        
    }

    
}