<section class="payment">
        <span class="float-left mountain">
                <img src="../../assets/img/mountain.svg" />
            </span>
            <span class="float-right mountain">
                <img src="../../assets/img/Group 1227.svg" />
            </span>
    <div class="container">
        <tabset type="pills">
            <tab heading="Booking Details">
                <div class="total_amount">
                    <div class=" row">
                        <h4 class="col-md-6 col-12">Total Amount : <span>11980EGP</span></h4>
                        <h4 class="col-md-6 col-12">Trip Duration 3hr 25 mins</h4>
                    </div>
                </div>
                <div class="reference">
                        <div class="row">
                            <div class="col-md-4 col-12">
                                <h4 class="start">Reference <span>LG6F2E</span></h4>
    
    
    
                            </div>
                            <div class="col-md-4 col-12">
                                <h4 class="text-center">Product ID <span>TW-1471</span></h4>
                            </div>
                            <div class="col-md-4 col-12">
                                <h4 class="end">Booking <span>1/1/2020</span></h4>
                            </div>
                        </div>
                    </div>
                <div class="from_to">
                    <div class="row">
                        <div class="col-3">
                            <div class="from text-center">
                                <span>
                                    <img src="../../assets/img/surface1.svg"/>
                                    Cairo
                                </span>
                                <p>
                                    <span>Cairo</span>
                                    <span>International Airport</span>
                                </p>
                                <p>
                                    <img src="../../assets/img/sunny.svg"/>
                                    22:35
                                    <span class="date">Thu,05 Jun</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="line text-center">
                                <h5>Alitalia897</h5>
                                <div class="br"></div>
                                <h5>Economy</h5>
                            </div>
                        </div>
                        <div class="col-3">
                                <div class="from text-center">
                                    <span>
                                        <img src="../../assets/img/surface1.svg"/>
                                        Cairo
                                    </span>
                                    <p>
                                        <span>Cairo</span>
                                        <span>International Airport</span>
                                    </p>
                                    <p>
                                        <img src="../../assets/img/sunny.svg"/>
                                        22:35
                                        <span class="date">Thu,05 Jun</span>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>

                
                <div class="details">
                    <div class="row">
                        <div class="col-12">
                            <p-panel [toggleable]="true" [expandIcon]="'pi pi-caret-down'" [collapseIcon]="'pi pi-caret-up'">
                                <p-header>
                                    <h3>Traveller Details</h3>
                                </p-header>
                                <div class="panel_content">
                                    <ul class="list-unstyled">
                                        <li>Mr:Mahmoud Eltantawy (ADT) <span>8787EGP</span></li>
                                        <li>Mr:Mahmoud Eltantawy (CNN) <span>8787EGP</span></li>

                                        <li>Mr:Mahmoud Eltantawy (ADT) <span>8787EGP</span></li>

                                        <li>Mr:Mahmoud Eltantawy (ADT) <span>8787EGP</span></li>

                                        <li>Mr:Mahmoud Eltantawy (INF) <span>8787EGP</span></li>

                                    </ul>
                                </div>

                            </p-panel>
                        </div>

                    </div>
                </div>



            </tab>
            <tab heading="Payment Rules">Pills content 2</tab>
        </tabset>
    </div>

</section>