<section class="filter_booking">
        <img src="../../../assets/img/Group 235.svg" class="plane"/>
    <div class="container-fluid">
        <div class="search_book shadow">
            <h4>Search In Flights Booking</h4>
            <div class="form-group search">
                <span class="search_icon">
                    <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                </span>
                <input type="text" class="form-control shadow-sm" placeholder="Please Enter Your Search">
            </div>
            <div class="choose_type">
                <h4>Choose Your Search Type</h4>
                <ul class="list-unstyled">
                    <li>
                        <p-radioButton name="groupname" value="val1" label="Email"></p-radioButton>

                    </li>
                    <li>
                        <p-radioButton name="groupname" value="val2" label="Ticket Number"></p-radioButton>
                    </li>
                    <li>
                        <p-radioButton name="groupname" value="val3" label="Reference Number"></p-radioButton>
                    </li>
                    <li>
                        <p-radioButton name="groupname" value="val3" label="Product ID"></p-radioButton>
                    </li>
                    <li>
                        <p-radioButton name="groupname" value="val3" label="Providers"></p-radioButton>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>