<div class="search_form">
        <div class="container">
            <form [formGroup]="hotel_search">
              
                <div class="flight_form">

                    <div class="flight_fields">
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <div class="form-group row">
                                    <div class="col-lg-5 col-md-6 col-sm-12 col-12 origin">
                                        <span class="font">
                                            <img src="../../assets/img/departures.svg" />
                                        </span>
                                        <input class="form-control" type="text" placeholder="Origin" formControlName="origin" />
                                        <div class="form-group">
                                            <div class="row hotel_options">
                                                <div class="col-sm-6 col-12">
                                                    <ng-select appearance="outline" #nationality [searchable]="false"
                                                        placeholder="nationality" formControlName="nationality">
                                                        <ng-option [value]="true">Egyptian</ng-option>
                                                        <ng-option [value]="false">Europian</ng-option>
                                                    </ng-select>
                                                    <img src="../../../assets/img/flag-2.svg" class="icon_calendar" />
                                                </div>
                                                <div class="col-sm-6 col-12">
                                                    <ng-select appearance="outline" #residense [searchable]="false"
                                                        placeholder="residence" formControlName="residence">
                                                        <ng-option [value]="true">Egyptian</ng-option>
                                                        <ng-option [value]="false">Egyptian</ng-option>
                                                    </ng-select>
                                                    <img src="../../../assets/img/pin.svg" class="icon_calendar" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-7 col-md-6 col-sm-12 col-12 _calendar">
                                        <div class="row">
                                            <div class="form-group col-sm-4 col-12">
                                                <input class="form-control" type="text" placeholder="Check In"
                                                    formControlName="departure" bsDatepicker />
                                                <img src="../../assets/img/Group 14.svg" class="icon_calendar" />
                                            </div>
                                            <div class="form-group col-sm-4 col-12">
                                                <input class="form-control" type="text" placeholder="Check Out"
                                                    formControlName="return" bsDatepicker />
                                                <img src="../../assets/img/Group 14.svg" class="icon_calendar" />
                                            </div>
                                            <div class="form-group col-sm-4 col-12">
                                                <input class="form-control" type="text" formControlName="nights" value="0" placeholder="Nights" readonly/>
                                                <img src="../../assets/img/nights.svg" class="icon_calendar" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group row">
                                    <div class="col-lg-8 col-sm-6 col-12">
                                        <div class="btn-group" dropdown [insideClick]="true" style="width:100%">
                                            <span class="font" style="left:10px;">
                                                <img src="../../assets/img/family.svg" />
                                            </span>
                                            <input id="button-basic" dropdownToggle type="button" class="form-control travellers dropdown-toggle"
                                                aria-controls="dropdown-basic" type="text" placeholder="Travellers & Class" />

                                            <span class="caret">
                                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </span>

                                            <div id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                                                aria-labelledby="button-basic">
                                                <ul class="list-unstyled list-group">

                                                    <li>
                                                        <div class="form-group">
                                                            <label>Preferred Airlines</label>
                                                            <input type="text" class="form-control" placeholder="Preferred Airlines">

                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group">
                                                            <label>Select Refundable</label>
                                                            <select class="form-control" placeholder="Preferred Airlines">
                                                                <option>All Rights</option>
                                                                <option>Only Refundable</option>
                                                                <option>Only Non Refundable</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group">
                                                            <label>Class</label>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                                    id="exampleRadios1" value="option1" checked>
                                                                <label class="form-check-label" for="exampleRadios1">
                                                                    Economy
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                                    id="exampleRadios2" value="option2">
                                                                <label class="form-check-label" for="exampleRadios2">
                                                                    First
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                                    id="exampleRadios3" value="option3">
                                                                <label class="form-check-label" for="exampleRadios3">
                                                                    Business
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="travellers_info">
                                                        <h4>Travellers</h4>
                                                        <div class="age">
                                                            <p><img src="../../assets/img/man-user.svg" />Adult <span>(12+Yrs)</span></p>
                                                            <div class="calc">
                                                                <button class="decrease">-</button>
                                                                <input class="adult_val" />
                                                                <button class="increase">+</button>
                                                            </div>
                                                        </div>
                                                        <div class="age">
                                                            <p><img src="../../assets/img/kids-couple.svg" />Children
                                                                <span>(12+Yrs)</span></p>
                                                            <div class="calc">
                                                                <button class="decrease">-</button>
                                                                <input class="adult_val" />
                                                                <button class="increase">+</button>
                                                            </div>
                                                        </div>
                                                        <div class="age">
                                                            <p><img src="../../assets/img/baby-boy.svg" />Infant <span>(Under
                                                                    2Yrs)</span></p>
                                                            <div class="calc">
                                                                <button class="decrease">-</button>
                                                                <input class="adult_val" />
                                                                <button class="increase">+</button>
                                                            </div>
                                                        </div>
                                                        <div class="children">
                                                            <div class="form-inline">

                                                                <label>Child:1</label>
                                                                <select class="form-control">
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-inline">

                                                                <label>Child:1</label>
                                                                <select class="form-control">
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-inline">

                                                                <label>Child:1</label>
                                                                <select class="form-control">
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-inline">

                                                                <label>Child:1</label>
                                                                <select class="form-control">
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-inline">

                                                                <label>Child:1</label>
                                                                <select class="form-control">
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>

                                                                </select>
                                                            </div>
                                                            <div class="form-inline">

                                                                <label>Child:1</label>
                                                                <select class="form-control">
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>

                                                                </select>
                                                            </div>

                                                        </div>

                                                    </li>
                                                    <li>
                                                        <div class="form-group">
                                                            <label>Customer Number</label>
                                                            <input type="text" class="form-control" placeholder="Preferred Airlines">

                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group">
                                                            <label>Select Fare Type</label>
                                                            <select class="form-control" placeholder="Preferred Airlines">
                                                                <option>Published Fare</option>
                                                                <option>Only Refundable</option>
                                                                <option>Only Non Refundable</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-4 col-sm-6 col-12">
                                        <button class="btn btn-success" routerLink="/hotel-result">Search</button>
                                    </div>



                                </div>
                            </div>
                        </div>
                       
                    </div>

                </div>
            </form>

        </div>

    </div>