<section class="seats">
    <button type="button" class="close" aria-label="Close" (click)="hide()">
        <span aria-hidden="true">&times;</span>
</button>
    <div class="container">
        <h2 class="title_circle">
            <span>Select</span>
            <span>Seats</span>
        </h2>
        <div class="row">
            <div class="col-md-5 col-12">
                <div class="seat-info">
                    <h4>Your Seat : <span>B7</span></h4>
                    <ul class="list-unstyled">
                        <li>
                            <span class=" standard"></span>
                            <span>Standard Seat</span>
                        </li>
                        <li>
                            <span class=" unavailable"></span>
                            <span>Unavailable
                            </span>
                        </li>
                        <li>
                            <span class=" selected"></span>
                            <span>selected</span>
                        </li>
                        <li>
                            <span class=" premium"></span>
                            <span>Premium Seat</span>
                        </li>
                    </ul>
                    <div class="buttons">
                        <a>Confirm</a>
                        <a>Skip</a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-12">
                <div class="seat">
                    <div class="seat-row">
                        <span>A</span>
                        <span>B</span>
                        <span>C</span>
                        <span>3</span>
                        <span>D</span>
                        <span>E</span>
                        <span>F</span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="selected"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row standard">
                        <span class="unavailable"></span>
                        <span class="unavailable"></span>
                        <span class="unavailable"></span>
                        <span class="unavailable"></span>
                        <span class="unavailable"></span>
                        <span class="unavailable"></span>
                        <span class="unavailable"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="unavailable"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="unavailable"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span class="premium"></span>
                        <span class="unavailable"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="premium"></span>
                        <span class="unavailable"></span>
                        <span class="premium"></span>
                    </div>
                    <div class="seat-row">
                        <span>A</span>
                        <span>B</span>
                        <span>C</span>
                        <span>3</span>
                        <span>D</span>
                        <span>E</span>
                        <span>F</span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>